.container {
    width: 80%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid var(--blue);
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("../img/noise-image.webp");
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;

    &__content {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
    }

    &__info {
        flex: 1;
        padding: 3rem;
    }

    &__text {
        margin: 12px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &-title {
            font-family: 'Chakra Petch', sans-serif;
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            padding: 2rem;
        }

        &-blue {
            color: var(--blue);
            display: block;
        }

        &-icon {
            height: 1.3rem;
            transform: translateY(4px);
        }

        &-paragraph {
            margin: 0 0 1rem 2rem;
        }
    }

    &__field {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        margin: 30px;
        gap: 2rem;

        &-paragraph {
            color: var(--white);
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 10px;
        }

        &-button{
            color: var(--white);
            font-size: 1.5rem;
            border: none;
            background-color: var(--blue);
            padding: 1rem 1.5rem;
            border-radius: 16px;
            width: 243px;
            height: 72px;
            box-shadow: 0px 0px 20px 0px rgba(24, 117, 232, 0.50);
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                transition: scale background-color 0.3s ease;
                scale: 0.98;
                background-color: var(--blue-dark);
            }
        }

        &-icon {
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                transition: 0.3s ease;
                scale: 0.95;
            }
        }

        &-reset {
            color: var(--white);
            font-size: 1rem;
            border: none;
            background-color: var(--red);
            padding: 1rem;
            border-radius: 1rem;
            width: 160px;
            height: auto;
            box-shadow: 0px 0px 20px 0px rgba(24, 117, 232, 0.50);
            cursor: pointer;

            &:hover {
                transition: scale background-color 0.3s ease;
                scale: 0.98;
                background-color: var(--red-dark);
            }
        }
    }

    &__input {
        width: 148px;
        height: 72px;
        margin-left: 1rem;
        border-radius: 16px;
        background-color: var(--white);
        border: none;
        color: var(--grey);
        padding: 2rem;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }

    &__password {
        width: 496px;
        height: 72px;
        border-radius: 16px;
        background-color: var(--white);
        border: none;
        color: var(--blue);
        margin: 50px 10px 50px 10px;
        padding: 2rem;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }
}